[Unit]
Description=Propagate Services
Wants=propagate-serve.service propagate-webhook.service propagate-telegram.service

[Install]
WantedBy=multi-user.target
